    <div id="bottom-container">
        <div id="one">
            <a class="txt" title="Keep up with me on Twitter" href="{{url_for('home')}}"><p>Home</p></a>
            <a class="txt" title="Check me on LinkedIn" href="https://www.linkedin.com/in/david-audu-562438238" target=”_blank”><p>LinkedIn</p></a>
            <a class="txt" title="Keep up with me on Twitter" href="https://twitter.com/David_Audu_" target=”_blank”><p>Twitter</p></a>
            <a class="txt" title="Follow me on Instagram" href="https://www.instagram.com/ijachi_/" target=”_blank”><p>Instagram</p></a>
        </div>
        <div id="two">
            <a class="txt" title="View my code on github" href="https://github.com/Ijachiii" target=”_blank”><p>Github</p></a>
            <a class="txt" title="Send me an email" href="{{url_for('contact')}}"><p>Contact</p></a>
        </div>
    </div>
    <p class="copyright">© 2022 David Audu.</p>
</body>
</html>