{% include "header.html" %}

    <div id="middle-container">
        <p class="intro"><em>David Audu</em></p>
        <div id="first">
            <img class="image" src="static/assets/images/ijachi.png">
        </div>
        <div id="second">
            <p>A Programmer</p>
        </div>
        <div id="third">
            <h2>I am a backend developer and also a Civil Engineering Student of the University Of Lagos</h2>
        </div>
        <hr>
        <div class="skills">
            <h1 class="skill-head">Skills</h1>
            <ul>
                <li><h2>Python </h2> </li>
                <li><h2>Flask  </h2> </li>
                <Li><h2>HTML/CSS  </h2></Li>
                <li><h2>SQLite  </h2></li>
            </ul>
        </div>
    </div>

    {% include "footer.html" %}